.CardPags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.contpgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.containe {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.CardPages {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: auto;
  gap: 80px;
  border-radius: 12px;
  border: 2px solid var(--black);
  padding: 80px;
  box-shadow: 6px 6px 0px 2px #1e1e1e;
}
.btnpgs {
  border: none;
}

.Parcontpgs {
  border-radius: 10px;
  border: 2px solid var(--black);
  background-color: var(--PeachBlushLight);
  box-shadow: 4px 4px 0px 2px var(--dark);
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
}
.sipgti {
  font-family: Raleway;
  font-weight: 700px;
  font-size: 48px;
  text-align: center;
}
.texpg {
  font-family: Outfit;
  font-weight: 500px;
  font-size: 20px;
  text-align: center;
}

.ParghrafPag {
  font-family: Outfit;
  font-weight: 500px;
  font-size: 20px;
  line-height: 150%;

  text-align: center;
}
.CardPages {
  transition: transform 0.3s ease;
}

.CardPages:hover {
  transform: translateY(-15px);
  box-shadow: 10px 10px 20px var(--Orange);
  border: var(--Orang);
}
@media (max-width: 1730px) {
  .texpg {
    font-size: 16px;
  }
  .contpgs {
    gap: 40px;
    img {
      width: 26vw;
      height: auto;
      gap: 10px;
    }
  }
}
@media (max-width: 1440px) {
  .CardPages {
    width: 43.05%;
    height: auto;
    gap: 40px;
    padding: 60px;
  }

  .contpgs {
    gap: 40px;
    img {
      width: 26vw;
      height: auto;
      gap: 10px;
    }
  }
  .conteNavinfo {
    width: 90%;
    max-width: 880px;
  }
  .sipgti {
    font-size: 34px;
  }
  .ParghrafPag {
    font-size: 18px;
  }
}
@media (max-width: 1028px) {
  .CardPages {
    width: 90%;
    height: auto;
  }
  .sinati {
    font-size: 48px;
  }
  .NavigConter {
    gap: 14px;
  }
}

@media (max-width: 754px) {
  .CardPags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  .CardPages {
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: auto;
    gap: 40px;
    border-radius: 10px;
    border-width: 2px;
    padding: 40px;
  }
  .contpgs {
    width: 278px;
    height: 250px;
    gap: 13px;
  }
  .texpg {
    width: 278px;
    height: 144px;
  }
  .Parcontpgs {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .CardPages {
    display: flex;
    text-align: center;
  }
  .contpgs {
    align-items: center;
    justify-content: center;
    img {
      width: 278px;
      height: auto;
    }
  }
  .conteNavinfo {
    width: 358px;
    height: 275px;
    gap: 10px;
  }

  .NavigConter {
    width: 90vw;
  }
  .sinati {
    font-weight: 700px;
    font-size: 38px !important;
  }
  .Parcontpgs {
    padding: 16px;
  }
  .btnpgs {
    width: 278px;
  }
}
