.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  background-color: var(--PeachBlushLight);
  position: relative;
  border: 2px solid var(--black);
  border-radius: 12px;
  margin-top: 18px;
  margin-bottom: 14px;
}
.conben {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.leftbnner {
  height: 55px;
  position: absolute;
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.rightbnner {
  height: 55px;
  position: absolute;
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.icon2 {
  font-family: Outfit;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.Group1 {
  position: absolute;
  bottom: 0;
  left: 1277.72px;
}
.Group {
  position: absolute;

  top: 0;
  left: 565.33px;
}
.benres,
.Group2,
.Group3,
.benres2,
.AbstractDesignLeft,
.AbstractDesign ,
.Group4
 {
  display: none;
}
@media (max-width: 1778px) {
  .benres,
  .Group2,
  .Group3,
  .benres2 {
    display: block;
  }
  .Group1,
  .Group,
  .rightbnner,
  .leftbnner {
    display: none;
  }
  .benres {
    height: 55px;
    position: absolute;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .benres2 {
    height: 55px;
    position: absolute;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .Group2 {
    position: absolute;

    bottom: 0;
    left: 978.22px;
  }
  .Group3 {
    position: absolute;

    top: 0;
    left: 292.32px;
  }
}
@media (max-width: 1315px) {
  .Group2 {
    position: absolute;

    bottom: 0;
    left: 856.22px;
  }
  .Group3 {
    position: absolute;

    top: 0;
    left: 292.32px;
  }
}
@media (max-width: 1188px) {
  .Group2 {
    position: absolute;

    bottom: 0;
    left: 768.22px;
  }
  .Group3 {
    position: absolute;

    top: 0;
    left: 212.32px;
  }
}
@media (max-width: 1107px) {
    .Group4{
        display: block;
        position: absolute;
        z-index: 9;
        bottom: 0;
        right: 1px;
        left: auto;
    }
  .benres2,
  .benres ,
  .Group2 {
    display: none;
  }

  .Group3 {
    position: absolute;
    left: 20px;
  }
  .AbstractDesignLeft {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .AbstractDesign {
    display: block;
    position: absolute;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media (max-width: 514px) {
  .icon2 {
    font-size: 14px;
  }
  .conbimg {
    width: 20px;
    height: 20px;
    position: relative; /* أو يمكنك استخدام absolute حسب الحاجة */
    z-index: 10;
  }
}
