.OurMission{
   display: flex;
   flex-direction: column;
    gap: 100px;
    margin-bottom: 22vh;
}
@media (max-width: 1440px) {
    .OurMission{
    gap: 80px;
    margin-bottom: 16vh;
    }
}
@media (max-width: 390px){
    .OurMission{
        gap: 50px;
        margin-bottom: 10vh;
        }
}