.Freqpg {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 200px;
}

.conimgfq:hover {
  transform: scale(1.1);
  background-color: var(--PeachBlushLight);
}
@media (max-width: 1440px) {
  .Freqpg {
    margin-bottom: 150px;
  }
}
@media (max-width: 1208px) {

  .Freqpg {
    gap: 50px;
  }
  
  .Freqpg {
    margin-bottom: 80px;
  }
}
