.zaconter{
display: flex;
gap: 10px;
padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
border-radius: 8px;
border: 2px solid var(--black);

    font-family: Outfit;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}
@media (max-width: 390px){
    .zaconter{
        font-size: 16px;
    }
}
@media (max-width: 390px){
    .zaconter{
        gap: 10px;
        padding-top: 8px;
        padding-right: 14px;
        padding-bottom: 8px;
        padding-left: 14px;
        font-size: 14px;
          }
} 