.CardTime {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.CardTimecont {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 12px;
  border: 2px solid var(--black);
  background-color: var(--white);
  padding: 50px;
  max-width: 90vw;
  box-shadow: 4px 4px 0 1px var(--black);
}
.contcardteame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconteamcont {
  width: 3vw;
  height: 3vw;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--PeachBlushLight);
  gap: 10px;
  border-radius: 8px;
  border: 2px solid var(--black);
  padding: 16px;
}
.caroteam {
  display: flex;
  align-items: center;
  gap: 16px;
  img {
    width: 5vw;
    height: 5vw;
    max-width: 100px;
    max-height: 92px;
  }
}

.contimteam {
  width: 5vw;
  height: 5vw;
  max-width: 100px;
  max-height: 100px;
  background-color: var(--PeachLight);
  border-radius: 12px;
  border: 2px solid var(--black);
}
.sizeone {
  font-family: Raleway;
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
}
.contertitlesecond {
  display: flex;
  flex-direction: column;
  width: 35vw;
    max-width: 673px;
  height: 272px;
  gap: 20px;
  border-radius: 12px;
  border: 2px solid var(--black);
  background-color: var(--PeachLight);
  padding: 30px;
}
.sizeteam {
  font-family: Outfit;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
}
.textteam {
  font-family: Outfit;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
@media (max-width: 1703px) {
  .CardTime {
    gap: 40px;
  }
  .CardTimecont {
    gap: 24px;

    padding: 40px;
  }
  .sizeone {
    font-size: 24px;
  }
  .sizeteam {
    font-size: 20px;
  }
  .contertitlesecond {
    width: 540px;
    height: 220px;
    gap: 16px;

    padding: 24px;
  }

  .textteam {
    font-size: 16px;
  }
  .caroteam {
    img {
      width: 80px;
      height: 75px;
    }
  }
  .contimteam {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 1387px){
    .CardTimecont{
        width: 358px;
        gap: 24px;
        padding: 30px;
           
    }
    .contertitlesecond {
        width: 298px;
        height: 310px;
        gap: 12px;
        padding: 20px;
        
    }
    .sizeone{
        font-size: 20px;
    }
}